@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: RalewayItalic;
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: Bitter;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: BitterItalic;
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

:root {
    --main-font-color: #dfd3c3;
    --theme-background-color: #282e35;
    --theme-title-font: Raleway;
    --theme-title-italic-font: RalewayItalic;
    --theme-paragraph-font: Bitter;
    --theme-italic-font: BitterItalic;
}

html, body {
  background-color: var(--theme-background-color);
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--theme-title-font);
}

p, span {
    font-family: var(--theme-paragraph-font)
}

a {
  color: --main-font-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #dfd3c3;
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: var(--theme-title-font);
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
